/* -- Fonts -- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

/* -- CSS RESET -- */

*, *::before, *::after {
        box-sizing: border-box;
      }

* {
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
  {margin:0; 
  font-size:inherit; 
  font-weight:inherit;}
}


body {
    line-height: 1.5;
    font-family: var(--ff-fontfamily);
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

/* -- Global styles -- */

:root {
--ff-fontfamily: 'Poppins', sans-serif;
--ff-fontweight-light: 300;
--ff-fontweight-bold: 500;
--primary-clr:hsl(0, 0%, 83%);
--secondary-clr:hsl(0, 0%, 97%);

}

/* -- Design recipe card -- */

.recipe-card {
    /* "auto" aan de zijkanten zorgt ervoor dat het element in het midden komt te staan*/
    margin: 80px auto;
    /* Dit element heeft een vaste breedte van 350 pixels */
    width: 350px;
    position: relative;
    padding-bottom: 5px;
    border-width: 1px;
    border-color: var(--primary-clr);
    border-style: solid;
    border-radius: 8px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.26);
    overflow: hidden;
}

.recipe__fav {
  position: absolute;
  width:20px;
  top:15px;
  right:15px;
}


.recipe__img {
    width: 100%;
}

.recipe__info {
    padding: 20px;
}

.instruction {
    margin-top: -8px;
    padding: 8px 20px 6px 20px;
    background-color: var(--primary-clr);
}

.instruction span, p, img {
    display: inline-block;
    
  }

.instruction img {
    width:12px;
}

.recipe__steps {
 margin-right: 20px;
}